.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.Navbar .logo {
    max-width: 350px;
}

.navbarMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.2rem;
    color: #49557e;
    font-weight: 600;
}

.navbarRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navbarRight button {
    background: transparent;
    font-size: 1rem;
    color: #49557e;
    border: 1ox solid tomato;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.navbarRight button:hover {
    background-color: #fad7d1;
}

.Navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    transition: 0.1s;
}

.Navbar li:hover {
    cursor: pointer;
}


.navbar-search-icon {
    position: relative;
}

.dot {
    position: absolute;
    min-width: 0.8rem;
    min-height: 0.8rem;
    background-color: tomato;
    border-radius: 0.5rem;
    top: 0;
    right: -0.4rem;
}

.menu_icon{
    display: none;
}

.mobileMenu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

@media (max-width: 768px) {
    .menu_icon{
        display: block;
    }

    .navbarMenu {
        display: none;
    }

    .Navbar .logo {
        max-width: 150px;
    }

    .navbarRight {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }
}
